@model IEnumerable<QuadBook.Models.Resource>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.resourceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceProperties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.resourceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceProperties.resourcePropertiesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceType.resourceTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.resourceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.resourceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.resourceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
