@model IEnumerable<QuadBook.Models.Resource>

@{
    ViewData["Title"] = "BookResource";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Opprett ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="BookResource" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.ResourceName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceInfo)
            </th>
            <th>
                <a asp-action="BookResource" asp-route-sortOrder="@ViewData["TypeSortParm"]">@Html.DisplayNameFor(model => model.ResourceType)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceType.ResourceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.RoomName)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.ID">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
