@model IEnumerable<QuadBook.Models.Resource>

@{
    ViewData["Title"] = "BookResource";
}

<h1>Book en av ressursene</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="btn btn-success btn-xs" asp-action="BookResource" asp-route-sortOrder="@ViewData["NameSortParm"]">Ressurs</a>
            </th>
            <th>
                Informasjon
            </th>
            <th>
                <a class="btn btn-success btn-xs"asp-action="BookResource" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type</a>
            </th>
            <th>
                Lokasjon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceType.ResourceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.RoomName)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.ID">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
